<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS</title>
</head>
<link rel="stylesheet" href="../css/style.css">
<body>
    <div class="container">
        <header>
            <nav class="menu">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="productos.html">Productos</a></li>
                    <li><a href="#">Contactos</a></li>
                    <li><a href="servicios.html">Servicios</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <img src="../img/contactos.jpg" alt="">
            <div class="main_principal">
                <h2>CONTACTOS</h2>
                <h2>Para comunicarse con un asesor de click en la imagen de whatsap</h2>
                <p style="text-align: center;">
                <a href="https://wa.me/573103456789?text=Hola%20quiero%20saber%20mas%20informacion%20sobre%20sus%20productos">
                <img src="../img/img_boton_whatsapp (1).png" style="width: 40px;" float="left" alt="">
                </a>
                </p>
                <P>Estos es un parrafo dentro del divisor</P>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis cumque quia iste laboriosam est. Illo nam ut laudantium ex praesentium expedita sapiente quaerat tempore numquam omnis, dolorem laborum, quasi quos!</p>
            </div>
        </main>
<form action="/action_page.php">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="Usuario" placeholder="Usuario">

        <label for="lname">Last Name</label>
        <input type="password" id="lname" name="Contraseña" placeholder="Contraseña">

        <label for="Rol">Country</label>
        <select id="country" name="country">
        <option value="Administrados">Australia</option>
        <option value="Estudiante">Canada</option>
        <option value="Profesor">USA</option>
        </select>
  
  <input type="submit" value="Submit">
</form>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3947.8795531103683!2d-73.5990052255073!3d8.314766499761022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5d8f7d27c7bf07%3A0xa72b1dc51f284557!2sUniversidad%20Popular%20del%20Cesar%20-%20Aguachica!5e0!3m2!1ses-419!2sco!4v1773434051644!5m2!1ses-419!2sco" 
width="600" height="450" style="border:0; margin: 0 auto; display: block;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <footer>
            <p style="text-align: center;">
                <a href="https://www.facebook.com/"> <img src="../img/boton_facebook.png" alt="" width="40px"></a>
                <a href="https://www.instagram.com/"> <img src="../img/boton_instagram.png" alt="" width="40px"></a>
                <a href="https://www.pinterest.com/"> <img src="../img/boton_pinteres.png" alt="" width="40px"></a>
            </p>
        </footer>
    </div>
</body>
</html>